{% extends "layout.html" %}

{% block title %}
    About us
{% endblock %}

{% block main %}
    <h1>About us</h1>
    <p>Appointment booker was created as a part of CS50X course as a final project by Veera Hiltunen
        The inspiration for the project has been the need for a suitable appointment booking platform
        specifically for study coordinators of Veera's workplace.</p>
    <p>I hope you enjoy trying out appointment booker! If you have any suggestions for improving the platform,
        do not hesitate to contact Veera Hiltunen at firstname.lastname ( at ) gmail.com.</p>

{% endblock %}