{% extends "layout.html" %}

{% block title %}
    My homepage
{% endblock %}

{% block main %}

    <h1>Welcome back, {{ user_data["firstname"] }} {{ user_data["lastname"] }}!</h1>
    <h2>Participate</h2>
    <p>Were you invited to book a meeting with someone? Please enter calendar ID here:</p>
    <form method="post" action="/">
        <input type="text" name="calendar" placeholder="ID number" autofocus required>
        <input type="Submit" value="Go!">
    </form>
    <div class = "flash">
        {% for message in get_flashed_messages() %} <p>{{ message }}</p>{% endfor %} 
    </div>

    {% if calendars|length > 0 %}
        <h2>My calendars</h2>
        {% for calendar in calendars %}
            <a href="/{{ calendar['id'] }}/appointments">{{ calendar["name"] }}</a><br>
        {% endfor %}
    {% endif %}   

{% endblock %}