<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/styles.css">
    
    <title>Appointment booker: {% block title %}{% endblock %}</title>

</head>
<body>

  {% if session["user"] %}
  <div>
    <a href="/">Home</a>
    <a href="/new_calendar">Create calendar</a>
    <a href="/about">About us</a>
    <a href="/logout">Log out</a>
  </div>

  {% else %}
  <div>
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a href="/about">About us</a>
  </div>
  {% endif %}

  <main>
      {% block main %}
      
      {% endblock %}
  </main>

</body>
</html>