{% extends "index2.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <div class="container-fluid">
        <h1>New booking calendar</h1>
        </div>
        <div class="container">
            <form action="/newhops" method="post">
                    <h2>Booking page info</h2>
                        <div>
                            <label for="text18">Booking page title:</label><br>
                            <input name="title" id="text18" type="text"/>
                        </div>
                        <div>
                            <label for="text20">Additional information for participants:</label><br>
                            <textarea name = add_info id="text20" rows="4"></textarea>
                        </div>
                    <h2>Appointment settings</h2>
                        <div>
                            <label for="text24">Max. amount of participants:</label><br>
                            <input name="max_participants" id="text24" type="number" value="1" min="1"/>
                        </div>
                        <div>
                            <label for="text24">Default duration of appointment (hours):</label><br>
                            <input id="text24" name="default_hours" type="number" value="1" min="0"/><br>
                            <label for="text24">Default duration of appointment (minutes):</label><br>
                            <input id="text24" name="default_minutes" type="number" value="1" min="1"/>
                        </div>
                        <input type="submit" name="Submit" value="Submit">
                <div>
                </div>
            </form>
            {% block new_appt %} Tavaraa {% endblock %}
          </div>
        </div>
    </div>
    

{% endblock %}