{% extends "index2.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <div class="window container-fluid" style="width: 300px;">
        <div class="title-bar">
        <div class="title-bar-text">Welcome to HOPSULI</div>
        <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close"></button>
        </div>
        </div>
        <div class="window-body">
            <p>Please select your appointment with {{ }}:</p>

          </div>
    </div>
    

{% endblock %}